* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2fd360;
}

h1 {
    text-transform: uppercase;
    color: rgb(207, 30, 193);
    position: absolute;
    left: 40%;
    top: 50%;
}